@import url('https://fonts.googleapis.com/css?family=Orbitron:700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,700i');
/* CSS declarations go here */



.container {
  max-width: 730px;
}

.timer {
  background-color:#5cb85c;
  //display:block;
  h1 {
    //font-family: 'Open Sans', sans-serif;
    //font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    display:inline;
    font-size: 64pt;
    color: #FFFFFF;
    margin-bottom: 0px;
  }
  .timerDisplay{
    width:auto;
    float:left;
  }
  .timerControls{
    width:auto;
    float:right;
  }
}
